<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="vendor/css/modern-business.css" rel="stylesheet">


<header>
  <div id="timer">10:00</div>
</header>

<body>

  <div class="container" id="slides">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12">

        <div class="carousel slide" data-ride="carousel" id="carousel-example-generic" data-wrap="true">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#carousel-example-generic">&nbsp;</li>
            <li data-slide-to="1" data-target="#carousel-example-generic" class="active">&nbsp;</li>
            <li data-slide-to="2" data-target="#carousel-example-generic" class="">&nbsp;</li>
            <li data-slide-to="3" data-target="#carousel-example-generic" class="">&nbsp;</li>
            <li data-slide-to="4" data-target="#carousel-example-generic" class="">&nbsp;</li>
          </ol>
          <!-- Part That Matters  -->

          <div class="carousel-inner" role="listbox">
            <div class="item active"><img alt="Identifier" style="width: 100%;">

              <h4 class="text-center">Big Text</h4>
              <p class="text-center">example text </p>

            </div>

            <div class="item"><img alt="Identifier" style="width: 100%;">

              <h4 class="text-center">A -- is composed of symbols and subscripts indicating the number of atoms of an
                element in a compound. </h4>

            </div>




          </div>
        </div>
      </div>
    </div>
  </div>


</body>


<script type="text/javascript">
  var timeoutHandle;
  function countdown(minutes) {
    var seconds = 60;
    var mins = minutes
    function tick() {
      var counter = document.getElementById("timer");
      var current_minutes = mins - 1
      seconds--;
      counter.innerHTML =
        current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
      if (seconds > 0) {
        timeoutHandle = setTimeout(tick, 1000);
      } else {

        if (mins > 1) {

          // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
          setTimeout(function () { countdown(mins - 1); }, 1000);

        } else {
          document.getElementById('slides').style.display = "none";
          //location.reload();
          window.location.replace("/end");
        }
      }
    }
    tick();
  }

  countdown(1);

</script>


<style>
  .carousel-indicators {
    display: none;
  }

  #slides {
    display: block;
  }

  #timer {
    display: block;
    left: 50%;
    text-align: center;
    position: fixed;
    bottom: 10px;
  }
</style>
<!-- Page Content -->


<!-- Bootstrap core JavaScript -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>

</html>
