<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/css/modern-business.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

  <!--  -->


  <script src="http://code.jquery.com/jquery-la..."></script>


</head>
<header>
  <div id="timer">
    <h2>10:00</h2>
  </div>
</header>

<body>

  <script type="text/javascript">
    var timeoutHandle;

    function countdown(minutes) {
      var seconds = 60;
      var mins = minutes

      function tick() {
        var counter = document.getElementById("timer");
        var current_minutes = mins - 1
        seconds--;
        counter.innerHTML =
          current_minutes.toString() + ":" + (seconds < 10 ? "0" : "") + String(seconds);
        if (seconds > 0) {
          timeoutHandle = setTimeout(tick, 1000);
        } else {

          if (mins > 1) {

            // countdown(mins-1);   never reach “00″ issue solved:Contributed by Victor Streithorst
            setTimeout(function () {
              countdown(mins - 1);
            }, 1000);

          } else {
            //document.getElementById('slides').style.display = "none";
            //location.reload();
            //window.location.replace("/end");
            $("#blueMS").load("end", function (responseTxt, statusTxt, jqXHR) {});
            $("#redMS").load("end", function (responseTxt, statusTxt, jqXHR) {});

          }
        }
      }
      tick();
    }

    countdown(10);
  </script>

  <style>
    #timer {
      position: fixed;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0%);
      bottom: 10px;
      font-size: 10vw;
    }
  </style>
  <!-- div with the randomy generated questions-->
  <div id="wrapper">
    <div class="container">
      <div class="row justify-content-center align-items-center">

        <h1>{{ row['Name'] }}</h1>
      </div>
      <div class="row justify-content-center align-items-center">
        <h2> {{ row['Question'] }}</H2>

      </div>

    </div>
  </div>

  </div>

  <script>
    window.setInterval(yourfunction, 5000);

    function yourfunction() {
      $('#wrapper').load("MS" + ' #wrapper');
    }
  </script>

</body>

</html>
