<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        function buttonPress() {

            var blue = $("#blueTeam").val()
            var red =  $("#redTeam").val()
            var delay = $("#delay").val()
            var total = $("#total").val()


            $.ajax({
                type: "POST",
                url: "/s3/admin/start",
                data: {
                    blue: blue,
                    red: red,
                    delay: delay,
                    total: total
                },
                success: function (data) {
                   // alert(data);
                }
            });

        }

        function reset() {
            $.post("/s3/admin/reset", function (data) {
                alert(data);
            });

        }
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
    </script>
</head>

<body>
    <div id="box">
        <h2>Click button to load new content</h2>
    </div>
    <p>
        <select id="blueTeam">
            <option value="HS">Blue High School
            </option>
            <option value="MS">Blue Middle School
            </option>
            <option value="ES">Blue Elementary School
            </option>
        </select>
    </p>
    <p>
        <select id="redTeam">
            <option value="HS">Red High School
            </option>
            <option value="MS">Red Middle School
            </option>
            <option value="ES">Red Elementary School
            </option>
        </select>
        </p>
    <p>Delay Between Slides (sec): <input type="text" id="delay" name="delay" value="10"/></p>
    <p>Total Time (min): <input type="text" id="total" name="total" value="10"/></p>

    <p></p>
    <button type="button" onclick="buttonPress()">Load Content</button>
    <button type="button" onclick="reset()">Reload page</button>


</body>

</html>
</body>

</html>