<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client!</title>
</head>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

</body>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function () {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
    //if data is received load feed
    socket.on('msg', function (data) {
        if (data.msg == "data") {
            $("#data").load("feed", function (responseTxt, statusTxt, jqXHR) {
                if (statusTxt == "success") {
                    alert("New content loaded successfully! feed");
                }
                if (statusTxt == "error") {
                    alert("Error: " + jqXHR.status + " " + jqXHR.statusText);
                }
            });
        }
    });
</script>







<body>
    <h2>This is an example client page</h2>
    <div id="data">

    </div>
</body>

</html>