<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home!</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        function buttonPress() {

            var e = document.getElementById("blueTeam");
            var blueData = e.options[e.selectedIndex].value;

            var e = document.getElementById("redTeam");
            var redData = e.options[e.selectedIndex].value;

            console.log(blueData);
            console.log(redData);

            $.post("admin/" + blueData, function (data) {
                alert(data);
            });
            $.post("admin/" + redData, function (data) {
                alert(data);
            });
        }

        function reset() {
            $.post("admin/reset", function (data) {
                alert(data);
            });

        }
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script>
    </script>
</head>

<body>
    <div id="box">
        <h2>Click button to load new content inside DIV box</h2>
    </div>
    <select id="blueTeam">
        <option value="blueHS">Blue High School
        </option>
        <option value="blueMS">Blue Middle School
        </option>
        <option value="blueES">Blue Elementary School
        </option>
    </select>
    <select id="redTeam">
        <option value="redHS">Red High School
        </option>
        <option value="redMS">Red Middle School
        </option>
        <option value="redES">Red Elementary School
        </option>
    </select>
    <button type="button" onclick="buttonPress()">Load Content</button>
    <button type="button" onclick="reset()">Reload page</button>


</body>

</html>
</body>

</html>